.bg img {
  height: 80vh;
  width: 100%;
}

.bg {
  position: relative;
}

.hero button {
  background-color: #FF8C38;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
}

.hero p {
  margin: 20px 0 50px 0;
}

.hero {
  padding: 0 350px;
  position: absolute;
  top: 200px;
  color: white;
}

.hero h1 {
  font-weight: 700;
}

.right-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.right-nav a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.simple {
  background-color: #FFEAD0;
  ;
}
.explore {
  font-size: 50px;
  font-weight: 800;
  padding: 100px 10px 40px 10px;
}

@media (max-width:450px){
  .bg img {
    height: 84vh;
  }

  .hero {
    padding: 0 20px;
    position: absolute;
    top: 200px;
    color: white;
  }
}